NET "nes_clk_out"    LOC = "D7" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 4;
NET "nes_ps_control" LOC = "F8" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 4;

NET "nes_data" LOC = "B4" | IOSTANDARD = LVCMOS33 | PULLUP;